<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untuk Kiky</title>
    <link rel="stylesheet" href="/Style/Style.css">
</head> 
<body> 
    <div class="container">
        <div class="desktop-only">
            BUKA DI HP!!!
        </div>
        <div class="Konten">
            <div class="ucapan">
                <h1>Halloooo <br>
                Selamat Datang KIKY IMUTTTTT <3</h1>
            </div>
            <div class="Isi">
                <div class="welcome">
                    <p>Mau Melanjutkan?</p>

                    <div class="tombol">
                <button>Lanjutkan</button>

                    </div>
                </div>
            </div>

        </div>

    </div>

    
</body>
<script src="/Script/Main.js"></script>
</html>
